* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

.page-width {
  max-width: 1080px;
  height: 100%;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* header */

/* nav-top */

.nav-top {
  background: #f5f8fa;
}

.nav-top .page-width::after {
  content: "";
  display: table;
  clear: both;
}

.nav-top-left a {
  float: left;
  margin: 15px 0;
  padding: 10px 20px;
  font-size: 16px
}

.nav-top-left a:first-child {
  border-right: 1px solid grey;
}

.nav-top-right a {
  float: right;
  margin: 15px 5px;
  padding: 10px 15px;
  font-size: 16px
}

.nav-top-right a {
  border-radius: 5px;
}

.nav-top-right a:first-child {
  background: #ff7a59;
  color: white;
}

.nav-top-right a:first-child + a {
  color: orange;
  border: 2px solid orange;
}

.nav-top-right i {
  color: #00a6c0;
  margin-right: 5px;
}

/* nav-button */

.nav-button {
  height: 100px;
}

.nav-button .page-width {
  background: grey;
}

/* main */

.jumbotron {
  background: #fff3ee;
  height: 300px;
}

.jumbotron .page-width {
  background: violet;
}

.light-blue-rectangle {
  background: #afebe4;
  height: 100px;
}

.learn {
  height: 600px;
}

.learn .page-width {
  background: grey;
}

.grow {
  height: 300px;
  background: #00aab8;
}

.grow .page-width {
  background: violet;
}

.start {
  height: 300px;
}

.start .page-width {
  background: grey;
}

/* footer */

footer {
  height: 300px;
  background: #33475b;
}

.colomns {
  height: 200px
}

.colomns .page-width {
  background: violet;
}

.languages {
  height: 50px;
}

.languages .page-width {
  background: grey;
}

.credits {
  height: 50px;
}

.credits .page-width {
  background: violet;
}
