* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  margin-top: 60px;
}

a {
  text-decoration: none;
  color: inherit;
}

a.orange {
  color: white;
  background: #ff7a59;
  border-radius: 5px;
}

.page-width {
  max-width: 1080px;
  margin: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* header */

/* nav-top */

.nav-top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 20px 0;
  background: #f5f8fa;
  border-bottom: 1px solid black;
}

.nav-top-left,
.nav-top-right {
  width: 50%;
  float:left;
}

.nav-top-left .fa-angle-down {
  padding-left: 5px;
  padding-right: 20px;
  border-right: 1px solid black;
  margin-right: 10px;
}

.nav-top-right {
  text-align: right;
}

.nav-top-right a {
  padding: 10px 20px;
}

.fas.fa-search {
  color: #17acc3;
}

/* nav-bottom */

.nav-bottom {
  padding: 20px 0;
}

.nav-bottom-left,
.nav-bottom-right {
  width: 50%;
  float: left;
}

.nav-bottom img {
  vertical-align: middle;
}

.nav-bottom li {
  display: inline-block;
  padding-left: 20px;
}

.nav-bottom-right i {
  padding-left: 5px;
}

.nav-bottom ul {
  text-align: right;
  padding-top: 5px;
}

/* main */

/* jumbotron */

.jumbotron {
  background: #fff4ee;
  background-image: url(../img/jumbotron.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
}

.jumbotron .page-width {
  padding: 40px 0;
}

.jumbotron h1 {
  font-weight: bold;
  font-size: 50px;
}

.jumbotron p {
  width: 500px;
  font-size: 15px;
  line-height: 25px;
  margin: 20px 0;
}

.jumbotron a {
  font-size: 20px;
  padding: 20px 30px;
  background: #ff7a59;
  color: white;
  border-radius: 5px;
  display: inline-block;
}

.jumbotron p:last-child {
  font-size: 12px;
}

.light-blue-rectangle {
  z-index: 1;
  position: relative;
  top: -36px;
  background: #afebe4;
  height: 100px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  margin-bottom: -36px;
}

/* learn */

.learn {
  background: #f5f8fa;
}

.learn-1 {
  text-align: center;
}

.learn-1 img {
  width: 30%;
}

.learn-1 h3 {
  font-size: 30px;
}

.learn-1 p {
  padding: 0 15%;
  line-height: 30px;
  margin-bottom: 40px;
}

.learn-2 {
  background: white;
  padding: 0 130px;
}

.learn-2::after {
content: "";
display: table;
clear: both;
}

.learn-2 .col-left {
  width: 15%;
  text-align: center;
  float: left;
  margin-right: 10%;
}

.learn-2 .col-right {
  float: left;
  width: 70%;
}

.learn-2 .col-right h2 {
  display: inline-block;
}

.learn-2 .col-right hr {
  text-align: right;
  width: 50%;
  vertical-align: middle;
  text-align: right;
  /* margin-left: 30px; */
  display: inline-block;
}

/* learn-3 */

.learn-3 .col {
  float: left;
  height: 300px;
  width: calc(100% / 3);
  background: white;
  padding: 20px;
  text-align: center;
}

.learn-3 .col img {
  width: 20%;
}

.learn-3 .col ul {
  text-align: left;
}

/* grow */

.grow {
  background: linear-gradient(45deg,#00a4bd,#00bda5);
}

.grow .page-width {
  text-align: center;
}

.grid-box {
  float: left;
  width: calc(100% / 4);
  height: 150px;
}

/* start */

.rowww li {
  display: inline-block;
}

.rowww img {
  width: 100px;
  vertical-align: middle;
}

/* customers */

.customers .box {
  height: 300px;
  width: 50%;
  float: left;
}

.growing .box {
  height: 300px;
  width: 50%;
  float: left;
}

.growing img {
  width: 200px;
  text-align: right;
}

.growing .right {
  text-align: right;
}

/* footer */

footer {
  background: #33475b;
  color: white;
}

.colomns .col{
  height: 200px;
  float:left;
  width: calc(100% / 4);
}

.languages {
  height: 50px;
  text-align: center;
}

.languages li {
  display: inline-block;
}
.credit {
  float: left;
  width: 50%;
  height: 50px;
}

.credits .right a {
  display: inline-block;
}

.credits .right {
  text-align: right;
}
